.recipe-list-instance {
    border: 1px solid black;
}

.main {
    background-color: #F16565;
}

.side {
    background-color: #FF9F4D;
}

.dessert {
    background-color: #F195CB;
}

.drink {
    background-color: #FCB639;
}

.modal-90w {
    width: 90%;
    max-width: unset;
}

.link-svg {
    margin-top: 6px;
}

.recipe-section {
    font-size: 0.9em;
}

.recipe-section p {
    margin-bottom: 0;
}

.recipe-section a {
    color: #0442a6;
    font-weight: bold;
}

.ingredient-card {
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 15px;
}