.recipe-list-instance {
    border: 1px solid black;
}

.main {
    background-color: #F16565;
}

.side {
    background-color: #FF9F4D;
}

.dessert {
    background-color: #F195CB;
}

.drink {
    background-color: #FCB639;
}

.modal-90w {
    width: 90%;
    max-width: unset;
}

.link-svg {
    margin-top: 6px;
}

.recipe-section {
    font-size: 0.9em;
}

.recipe-section p {
    margin-bottom: 0;
}

.recipe-section a {
    color: #0442a6;
    font-weight: bold;
}