.recipe-list-instance {
    border: 1px solid rgb(150, 150, 150);
}

.main {
    background-color: rgba(255, 0, 0, 0.4);
}

.side {
    background-color: rgba(255, 117, 0, 0.4);
}

.dessert {
    background-color: rgba(255, 0, 150, 0.4);
}

.drink {
    background-color: rgba(255, 212, 0, 0.4);
}

.modal-90w {
    width: 90%;
    max-width: unset;
}

.link-svg {
    margin-top: 6px;
}

.recipe-section {
    font-size: 0.9em;
}

.recipe-section p {
    margin-bottom: 0;
}

.recipe-section a {
    color: #0442a6;
    font-weight: bold;
}

.recipe-expansion {
    max-height: 0;
    transition: max-height 2s;
    overflow: hidden;
}

.recipe-expansion-expanded {
    max-height: 3000px;
    transition: max-height 10s;
}
